* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-bg: #FFC400;
  --second-bg:#FFFFFF;
  --button-bg: #000;
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  .container .banner {
    background-position-x: -400px;
    width: 100%;
  }
  .container .banner .container-banner {
    width: 100%;
    padding: 50px;
  }
  .container .banner .container-banner .box-banner {
    width: 50%;
  }
  .container .banner .container-banner .box-banner .logo p {
    margin-top: 15%;
  }
  .container .banner .container-banner .box-banner .img-banner {
    width: 100%;
    margin-top: 15%;
  }
  .container .banner .container-banner .box-banner .ellcipse-img {
    right: -25%;
  }
  .container .banner .container-banner .box-banner-2 {
    width: 30%;
  }
  .container .slider-adira {
    padding: 50px;
    height: auto;
  }
  .container .slider-adira .container-adira {
    width: 100%;
  }
  .container .slider-adira .container-adira .slider {
    left: 40%;
  }
  .container .latest-promo {
    padding: 50px;
  }
  .container .latest-promo .container-latest-promo {
    width: 100%;
  }
  .container .latest-promo .container-latest-promo .row-latest-promo .box-latest-promo {
    width: 250px;
    margin: 20px 10px;
  }
}

@media screen and (max-width: 570px) {
  .container {
    width: 100%;
    min-height: 100vh;
  }
  .container .banner {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(../images/bg-banner.png);
    background-position-x: -900px;
  }
  .container .banner .container-banner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 15px;
  }
  .container .banner .container-banner .box-banner {
    width: 100%;
  }
  .container .banner .container-banner .box-banner .logo {
    width: 100%;
    margin-left: 30px;
  }
  .container .banner .container-banner .box-banner .logo img {
    width: 90%;
    -webkit-margin-before: 7%;
            margin-block-start: 7%;
  }
  .container .banner .container-banner .box-banner .logo p {
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    width: 90%;
    text-align: center;
    margin-right: 100px;
  }
  .container .banner .container-banner .box-banner .ellcipse-img {
    left: 0;
    top: 103%;
  }
  .container .banner .container-banner .box-banner .img-banner {
    width: 100%;
    margin-top: 10%;
  }
  .container .banner .container-banner .box-banner-2 {
    height: auto;
    width: 100%;
  }
  .container .banner .container-banner .box-banner-2 .box-banner-2-1 img {
    margin-top: 10%;
  }
  .container .banner .container-banner .box-banner-2 .box-banner-2-1 span {
    text-align: center;
  }
  .container .slider-adira {
    padding: 50px 10px;
  }
  .container .slider-adira .container-adira {
    width: 100%;
    height: 1000px;
  }
  .container .slider-adira .container-adira .box-adira {
    width: 90%;
    padding: 60px;
    margin: 0px auto;
  }
  .container .slider-adira .container-adira .slider {
    top: 50%;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: auto;
    scrollbar-width: thin;
    scrollbar-color: #000 #ffffff;
  }
  .container .slider-adira .container-adira .slider .slider-item {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .container .slider-adira .container-adira .slider::-webkit-scrollbar {
    width: 20px;
    height: 7px;
  }
  .container .slider-adira .container-adira .slider::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }
  .container .slider-adira .container-adira .slider::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--second-bg);
  }
  .container .latest-promo {
    padding: 50px 10px;
  }
  .container .latest-promo .container-latest-promo {
    width: 100%;
  }
  .container .latest-promo .container-latest-promo .row-latest-promo .box-latest-promo {
    width: 100%;
    margin-top: 5%;
  }
  .container .product-adira {
    padding: 100px 10px;
  }
  .container .product-adira .container-product-adira {
    width: 100%;
  }
  .container .product-adira .container-product-adira .row-product-adira {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20%;
  }
  .container .product-adira .container-product-adira .row-product-adira .box-product-adira {
    width: 90%;
    height: 400px;
    margin: 0px auto;
  }
  .container .footer-top {
    padding: 50px 10px;
  }
  .container .footer-top .container-footer-top {
    width: 100%;
  }
  .container .footer-top .container-footer-top footer {
    width: 100%;
  }
  .container .footer-bottom {
    padding: 50px 10px;
  }
  .container .footer-bottom .container-footer-bottom {
    width: 100%;
  }
  .container .footer-bottom .container-footer-bottom footer span {
    font-size: 13px;
  }
}
/*# sourceMappingURL=mobile.css.map */