@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-bg: #FFC400;
  --second-bg:#FFFFFF;
  --button-bg: #000;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.container .banner {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-image: url(../images/bg-banner.png);
  background-repeat: no-repeat;
}

.container .banner .container-banner {
  max-width: 1200px;
  min-height: 100%;
  margin: 0px auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .banner .container-banner .box-banner {
  width: 750px;
  height: 100%;
  position: relative;
}

.container .banner .container-banner .box-banner .logo {
  margin-top: 20px;
}

.container .banner .container-banner .box-banner .logo p {
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.container .banner .container-banner .box-banner .ellcipse-img {
  position: absolute;
  top: 100px;
  right: 0;
}

.container .banner .container-banner .box-banner .img-banner {
  display: block;
  margin-top: 5%;
}

.container .banner .container-banner .box-banner-2 {
  width: 350px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .banner .container-banner .box-banner-2 .box-banner-2-1 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0px auto;
}

.container .banner .container-banner .box-banner-2 .box-banner-2-1 img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  display: block;
}

.container .banner .container-banner .box-banner-2 .box-banner-2-1 span {
  display: block;
  margin-top: 5%;
  text-align: right;
}

.container .slider-adira {
  position: relative;
  background-color: var(--primary-bg);
  padding: 100px 0px;
}

.container .slider-adira .container-adira {
  position: relative;
  margin: 0px auto;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .slider-adira .container-adira .box-adira {
  text-align: center;
  width: 300px;
  padding: 30px;
  height: 450px;
  background-color: var(--second-bg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.container .slider-adira .container-adira .box-adira h3 {
  margin: 20px 0px;
  line-height: 1.3;
}

.container .slider-adira .container-adira .box-adira span {
  margin: 20px 0px;
  line-height: 1.4;
}

.container .slider-adira .container-adira .slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 28%;
  width: 900px;
  overflow-y: hidden;
  overflow-x: scroll;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 70px;
          column-gap: 70px;
  cursor: -webkit-grab;
  cursor: grab;
  scrollbar-width: thin;
  scrollbar-color: #000 #ffffff;
}

.container .slider-adira .container-adira .slider .slider-item {
  margin-bottom: 30px;
  width: 300px;
  height: 450px;
}

.container .slider-adira .container-adira .slider .slider-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  pointer-events: none;
}

.container .slider-adira .container-adira .slider .slider-item img.img3 {
  display: block;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .slider-adira .container-adira .slider .slider-item .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  height: auto;
  margin-top: -2%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--second-bg);
}

.container .slider-adira .container-adira .slider .slider-item .text span {
  font-size: 13px;
}

.container .slider-adira .container-adira .slider .slider-item .text button {
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  background-color: var(--button-bg);
  font-family: "Poppins", sans-serif;
  color: var(--second-bg);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .slider-adira .container-adira .slider.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.container .slider-adira .container-adira .slider::-webkit-scrollbar {
  width: 20px;
  height: 7px;
}

.container .slider-adira .container-adira .slider::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.container .slider-adira .container-adira .slider::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--second-bg);
}

.container .latest-promo {
  position: relative;
  padding: 100px 0px;
  background-color: var(--second-bg);
}

.container .latest-promo .container-latest-promo {
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Poppins", sans-serif;
}

.container .latest-promo .container-latest-promo h1 {
  text-align: center;
}

.container .latest-promo .container-latest-promo .row-latest-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
}

.container .latest-promo .container-latest-promo .row-latest-promo .box-latest-promo {
  width: 350px;
  height: auto;
  cursor: pointer;
}

.container .latest-promo .container-latest-promo .row-latest-promo .box-latest-promo img {
  width: 100%;
}

.container .latest-promo .container-latest-promo .row-latest-promo button {
  display: block;
  padding: 10px 50px;
  border: 2px solid var(--primary-bg);
  margin: 50px auto;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: unset;
  cursor: pointer;
}

.container .product-adira {
  position: relative;
  padding: 100px 0px;
  background-color: #000;
}

.container .product-adira .container-product-adira {
  max-width: 1300px;
  height: auto;
  margin: 0px auto;
}

.container .product-adira .container-product-adira h1 {
  font-family: "Poppins", sans-serif;
  color: var(--second-bg);
  text-align: center;
}

.container .product-adira .container-product-adira .row-product-adira {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.container .product-adira .container-product-adira .row-product-adira .box-product-adira {
  width: 300px;
}

.container .product-adira .container-product-adira .row-product-adira .box-product-adira img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .footer-top {
  position: relative;
  padding: 50px 0px;
  background-color: var(--second-bg);
}

.container .footer-top .container-footer-top {
  max-width: 1200px;
  margin: 0px auto;
}

.container .footer-top .container-footer-top footer {
  width: 200px;
  margin: 0px auto;
  text-align: center;
}

.container .footer-top .container-footer-top footer span {
  font-family: "Poppins", sans-serif;
  display: block;
  margin-bottom: 10px;
}

.container .footer-bottom {
  position: relative;
  padding: 50px;
  background-color: var(--primary-bg);
}

.container .footer-bottom .container-footer-bottom {
  max-width: 1200px;
  margin: 0px auto;
}

.container .footer-bottom .container-footer-bottom footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container .footer-bottom .container-footer-bottom footer span {
  color: #000;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */